<h1><%= @list.id ? 'Edit List' : 'Add List' %></h1>

<%= form_with(model: [@board, @list], local: true) do |f| %>
  <%= f.label :list_name %>
  <%= f.text_field :list_name, required: true, autofocus: true %>

  <%= f.submit nil %>

<% end %>
