<h1><%= @list.id ? 'Edit List' : 'Add List' %></h1>

<%= form_with(model: @list, local: true) do |f| %>
  <%= f.label :task %>
  <%= f.text_field :task, required: true, autofocus: true %>

  <%= f.submit nil %>

<% end %>