<h1><%= @board.id ? 'Edit Board' : 'Add new Board' %></h1>

<%= form_with(model: @board, local: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, autofocus: true %>

  <%= f.submit nil %>

<% end %>